@font-face 
    font-family: Roboto-Thin /*100*/
    src: url("/assets/font/Roboto-Thin.ttf")  format('truetype')
    font-display: fallback

@font-face 
    font-family: Roboto-ThinItalic /*100*/
    src: url("assets/font/Roboto-ThinItalic.ttf")  format('truetype')
    font-display: fallback

@font-face 
    font-family: Roboto-Light /*300*/
    src: url("assets/font/Roboto-Light.ttf")  format('truetype')
    font-display: fallback

@font-face 
    font-family: Roboto-LightItalic /*300*/
    src: url("assets/font/Roboto-LightItalic.ttf")  format('truetype')
    font-display: fallback

@font-face 
    font-family: Roboto-Regular /*400*/
    src: url("assets/font/Roboto-Regular.ttf")  format('truetype')
    font-display: fallback

@font-face 
    font-family: Roboto-Italic /*400*/
    src: url("assets/font/Roboto-Italic.ttf")  format('truetype')
    font-display: fallback

@font-face 
    font-family: Roboto-Medium /*500*/
    src: url("assets/font/Roboto-Medium.ttf")  format('truetype')
    font-display: fallback
@font-face 
    font-family: Roboto-MediumItalic /*500*/
    src: url("assets/font/Roboto-MediumItalic.ttf")  format('truetype')
    font-display: fallback
@font-face 
    font-family: Roboto-Bold /*700*/
    src: url("assets/font/Roboto-Bold.ttf")  format('truetype')
    font-display: fallback
@font-face 
    font-family: Roboto-BoldItalic /*700*/
    src: url("assets/font/Roboto-BoldItalic.ttf")  format('truetype')
    font-display: fallback
@font-face 
    font-family: Roboto-Black /*900*/
    src: url("assets/font/Roboto-Black.ttf")  format('truetype')
    font-display: fallback
@font-face 
    font-family: Roboto-BlackItalic /*900*/
    src: url("assets/font/Roboto-BlackItalic.ttf")  format('truetype')
    font-display: fallback

:root
    font-size: 16px
// common font family
.roboto400
    font-family: 'Roboto-Regular', Arial, Helvetica, sans-serif
.roboto700
    font-family: 'Roboto-Bold', Arial, Helvetica, sans-serif
// common font size
.fontSize-45
    font-size: 2.8125rem
.fontSize-38
    font-size: 2.375rem
.fontSize-36
    font-size: 2.25rem
.fontSize-34
    font-size: 2.125rem
.fontSize-32
    font-size: 2rem
.fontSize-30
    font-size: 1.875rem
.fontSize-28
    font-size: 1.75rem
.fontSize-25
    font-size: 1.5625rem
.fontSize-24
    font-size: 1.5rem
.fontSize-22
    font-size: 1.375rem
.fontSize-20
    font-size: 1.25rem
.fontSize-18
    font-size: 1.125rem
.fontSize-16
    font-size: 1rem
.fontSize-15
    font-size: 0.9375rem
.fontSize-14
    font-size: 0.875rem
.fontSize-13
    font-size: 0.8125rem
.fontSize-12
    font-size: 0.75rem
.fontSize-11
    font-size: 0.6875rem
.fontSize-10
    font-size: 0.625rem
.fontSize-9
    font-size: 0.5625rem
.fontSize-8
    font-size: 0.5rem
.fontSize-0
    font-size: 0

body 
    margin: 0

*, *::before, *::after 
    box-sizing: border-box
    -webkit-font-smoothing: antialiased

.svg-icon
    display: inline-flex
    justify-content: center
    align-items: center
    position: relative
    color: #fff
    border-radius: 3px
    &.size30
        width: 30px
        height: 30px
    &.size24
        width: 24px
        height: 24px
    &.size16
        width: 16px
        height: 16px
    &.stroke-black
        stroke: #000
    &.color-black
        color: #000
    >svg
        @extend .full-width
        @extend .full-height
        fill: currentColor
    &.stroke-white
        >svg
            stroke: #fff
.btn
    user-select: none
    text-align: center
    justify-content: center
    display: inline-flex
    border-radius: 6px
    padding: 12px 14px
    cursor: pointer
    outline: none
    border: none
.p-relative 
    position: relative
.p-absolute
    position: absolute

.d-flex 
    display: flex

.overflow-hidden 
    overflow: hidden

.justify-start 
    justify-content: flex-start
.justify-center 
    justify-content: center
.justify-space-between
    justify-content: space-between
.flex-auto
    flex: 1 1 auto
.flex-none
    flex: none
.full-width
    width: 100%
.full-height
    height: 100%
.flex-flow-col
    flex-flow: column
.fullSizeContainer
    @extend .full-width
    @extend .full-height
.item-center
    align-items: center

// paddings and margin
.p30px
    padding: 30px
.pl12
    padding-left: 12px
.pl20
    padding-left: 20px
.pr12
    padding-right: 12px
.pb10
    padding-bottom: 10px
.mr10
    margin-right: 10px
.ml5
    margin-left: 5px
.mt10
    margin-top: 10px