<section class="d-flex fullSizeContainer flex-flow-col">
    <article class="header full-width d-flex item-center">
        <div class="fontSize-30 roboto700 flex-auto">
            <span>Hi John!</span>
        </div>
        <div class="input-container fontSize-12 d-flex item-center p-relative">
            <input type="text" class="inputbox fullSizeContainer" [(ngModel)]="searchText"
                placeholder="Search for products, brands and more">
            <span class="svg-icon size24 p-absolute search-icon">
                <svg>
                    <use xlink:href="assets/icon-sprite.svg#search-icon" />
                    </svg>
            </span>
        </div>
        <div class="d-flex item-center icon-container pr12 pl20">
            <span class="svg-icon size30 stroke-black mr10">
                <svg>
                    <use xlink:href="assets/icon-sprite.svg#favorite-icon" />
                  </svg>
            </span>
            <span class="svg-icon size30 stroke-black p-relative">
                <svg>
                    <use xlink:href="assets/icon-sprite.svg#icon-4" />
                  </svg>
                  <span class="notification p-absolute"></span>
            </span>
        </div>
        <div class="d-flex item-center pl12">
            <span class="user"></span>
            <span class="pl12">sdadad</span>
            <span class="svg-icon arrow-down">
                <svg>
                    <use xlink:href="assets/icon-sprite.svg#arrow-down" />
                  </svg>
            </span>
        </div>
    </article>
    <article class="content-body full-width flex-auto p30px roboto400">
        <div class="fontSize-14">Filters based on your profile</div>
        <div class="d-flex full-width">
            <div class="filter-chips-container flex-auto">
                <button *ngFor="let item of filter" class="btn filter-chips mt10">
                    <span>{{item.value}}</span>
                    <span class="svg-icon close-icon size16 ml5">
                        <svg>
                            <use xlink:href="assets/icon-sprite.svg#close-icon" />
                          </svg>
                    </span>
                </button>
            </div>
            <div class="mt10 flex-none">
                <button class="btn transparent">Clear filters</button>
                <button class="btn transparent outline">Filters</button>
            </div>
        </div>
        <div class="full-width roboto400 d-flex item-center justify-space-between">
            <span class="fontSize-20">Showing 26 Product</span>
            <div>
                <span class="sort-by fontSize-14 pr12">Sort by</span>
                <button class="btn sort-icon mt10">
                    <span>newest to oldest</span>
                    <span class="svg-icon size16 ml5">
                        <svg>
                            <use xlink:href="assets/icon-sprite.svg#arrow-down-light" />
                          </svg>
                    </span>
                </button>
            </div>
        </div>
        <div class="flex-auto"></div>
    </article>
</section>