.header
    height: 75px
    border-bottom: 1px solid #E5E5EC
.content-body
    min-height: 0
.header
    padding: 0 36px 0 32px
.icon-container
    border-right: 1px solid rgba(15, 37, 97, 0.6)
.logo-icon
    stroke: #0F42DF
    color: #0F42DF
.notification
    top: 0
    right: 3px
    &::before
        content: ''
        display: inline-block
        width: 8px
        height: 8px
        -moz-border-radius: 7.5px
        -webkit-border-radius: 7.5px
        border-radius: 7.5px
        background-color: #FF1D00
.user
    width: 34px
    height: 34px
    background: url("../../assets/images/userjohn.png") no-repeat
.svg-icon
    &.arrow-down
        width: 9px
        height: 5px
        color: #000
.input-container
    width: 370px
    height: 40px
    margin: 0 20px
    & .inputbox
        line-height: 1.2
        border-radius: 6px
        border: 1px solid #E5E5EC
        background: #FCFCFF
        padding: 0px 20px 0 40px
        outline: none
.search-icon
    top: 7px
    left: 10px
.transparent
    background: var(--white)
    color: #0F42DF
    margin-left: 10px
    &:hover
        text-decoration: underline
    &.outline
        border: 1px solid #0F42DF
    &.outline:hover
        border-color:#0F42DF
        box-shadow: 0px 0px 5px 0px #0f42df
.filter-chips-container
    .filter-chips
        margin-right: 10px
        background: #E8E8FF
        color: #041131
    .close-icon
        & >svg
            stroke: #041131
.sort-by
    color: #041131
.cat-icon
    background: url("../../assets/images/carticon.png") no-repeat
    width: 30px
    height: 30px
    background-size: contain
.masonry-parent
    .masonry-item
        width: 200px
        margin-bottom: 30px
        box-shadow: 0px 16px 24px rgba(0, 0, 0, 0.06), 0px 2px 6px rgba(0, 0, 0, 0.04), 0px 0px 1px rgba(0, 0, 0, 0.04)
        border-radius: 8px
        color: #041131
        background: var(--white)
        z-index: 1
        .image
            width: 100%
            height: 50%
        .product-details
            opacity: 0.7
        .add-btn
            background: #1750FF
            color: var(--white)
            display: none
        &:hover
            transform: scale(1.1)
            z-index: 222222
            .add-btn
                display: inherit
.select-box-container
    .select-box
        -webkit-appearance: none
        -moz-appearance: none
        color: #041131
        background: var(--white)
        border: 1px solid #E5E5EC
        padding-right: 30px
    & .sort-icon
        right: 10px
        top: 23px
        & >svg
            stroke: #041131
   
