<section class="d-flex fullSizeContainer flex-flow-col">
    <article class="header full-width d-flex item-center flex-none">
        <div class="show-on-mobile-view flex-auto">
            <span class="svg-icon size30 logo-icon">
                <svg>
                  <use xlink:href="assets/icon-sprite.svg#logo" />
                </svg>
              </span>
        </div>
        <div class="fontSize-30 roboto700 flex-auto text-ellipsis hide-on-mobile-view">
            <span>Hi John!</span>
        </div>
        <div class="input-container fontSize-12 d-flex item-center p-relative hide-on-mobile-view">
            <input type="text" class="inputbox fullSizeContainer" [(ngModel)]="searchText"
                placeholder="Search for products, brands and more" (keyup)="searchBoxChange()">
            <span class="svg-icon size24 p-absolute search-icon">
                <svg>
                    <use xlink:href="assets/icon-sprite.svg#search-icon" />
                    </svg>
            </span>
        </div>
        <div class="d-flex item-center icon-container pr12 pl20">
            <span class="svg-icon size30 stroke-black mr10">
                <svg>
                    <use xlink:href="assets/icon-sprite.svg#favorite-icon" />
                  </svg>
            </span>
            <span class="cat-icon p-relative">
                  <span class="notification p-absolute"></span>
            </span>
        </div>
        <div class="d-flex item-center pl12">
            <span class="user" (click)="logOut()"></span>
            <span class="pl12 roboto400 fontSize-16">Test user</span>
            <span class="svg-icon arrow-down ml5">
                <svg>
                    <use xlink:href="assets/icon-sprite.svg#arrow-down" />
                  </svg>
            </span>
        </div>
    </article>
    <article class="flex-none d-flex item-center show-on-mobile-view header justify-center header">
        <div class="input-container fontSize-12 flex-none d-flex item-center p-relative show-on-mobile-view">
            <input type="text" class="inputbox fullSizeContainer" [(ngModel)]="searchText"
                placeholder="Search for products, brands and more" (keyup)="searchBoxChange()">
            <span class="svg-icon size24 p-absolute search-icon">
                <svg>
                    <use xlink:href="assets/icon-sprite.svg#search-icon" />
                    </svg>
            </span>
        </div>
    </article>
    <article class="content-body custom-scroll full-width flex-auto p30 roboto400 scroll-y">
        <div class="fontSize-14">Filters based on your profile</div>
        <div class="d-flex full-width">
            <div class="filter-chips-container flex-auto">
                <button *ngFor="let item of selectedFilters" class="btn filter-chips mt10">
                    <span>{{item.value | displayFilter}}</span>
                    <span class="svg-icon close-icon size16 ml5">
                        <svg>
                            <use xlink:href="assets/icon-sprite.svg#close-icon" />
                          </svg>
                    </span>
                </button>
            </div>
            <div class="mt10 flex-none">
                <button class="btn transparent" (click)="clearFilters()">Clear all</button>
                <button class="btn transparent outline" (click)="popupVisiblity(false)">Filters</button>
            </div>
        </div>
        <div class="full-width roboto400 d-flex item-center justify-space-between pb10">
            <span class="fontSize-20">Showing {{manageDataLength()}} Product</span>
            <div class="p-relative select-box-container">
                <span class="sort-by fontSize-14 pr12">Sort by</span>
                <select name="sort" id="sort" class="btn select-box mt10"
                    [(ngModel)]="selectedOption" (change)="toggleSort()">
                    <option *ngFor="let option of sortOption" [value]="option">{{ option | SortingOption}}</option>
                </select>
                <label for="sort" class="svg-icon size16 ml5 p-absolute sort-icon">
                    <svg>
                        <use xlink:href="assets/icon-sprite.svg#arrow-down-light" />
                      </svg>
                </label>
            </div>
        </div>
        <ngx-masonry [options]="masonryOptions" class="masonry-parent mt10">
            <ng-container *ngFor="let item of manageData">
                <ngxMasonryItem class="masonry-item cursor-poiner" *ngIf="!item.hidden"
                    >
                    <div class="fullSizeContainer">
                        <div>
                            <img src='assets/images/{{item.picture}}.png' class="image" alt="No image found">
                        </div>
                        <div class="details-container p10">
                            <div class="roboto500 fontSize-18">{{item.name}}</div>
                            <div class="roboto400 fontSize-14 product-details">{{item.idealFor}} {{item.type}}</div>
                            <div class="roboto700 fontSize-16">Rs.{{item.price}}</div>
                            <button class="btn add-btn mt10 full-width roboto700 fontSize-16">
                                <span>Add to Cart</span>
                            </button>
                        </div>
                    </div>
                </ngxMasonryItem>
            </ng-container>
        </ngx-masonry>
    </article>
    <app-filter-component *ngIf="!hideFilterPopup" [groupedFilters]="groupedFilters"
        (closepopup)="popupVisiblity($event)" (activefilters)="applyFilter($event)"></app-filter-component>
</section>